@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #00112b;
    white-space:nowrap;
}

a{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    color: #fffaff;
    text-decoration: none;
    cursor: pointer;
}

.main-name{
  font-family: 'Sacramento', cursive !important;
  font-size: 60px !important;
  margin-left: 100px!important;
  margin-right: auto !important;
  font-weight: lighter !important;
  margin-left: 0 !important;
  letter-spacing: 4px!important;
  color: #fffaff;
  cursor: pointer;
}

.main-name:hover{
  margin-left: 100px!important;
    font-family: 'Sacramento', cursive !important;
    margin-right: auto !important;
    font-weight: lighter !important;
    margin-left: 0 !important;
    letter-spacing: 4px!important;
    color: #00b4d8;
    cursor: pointer;
}

.navbar{
  font-family: 'Quicksand', sans-serif !important;
  letter-spacing: 2px !important;
  font-size: 20px;
  color: #fffaff;
  text-decoration: none;
  cursor: pointer;
}

.small-des{
  font-family: 'Quicksand', sans-serif !important;
  letter-spacing: 4px !important;
  font-weight: lighter !important;
  text-align: center !important;
  color: #fffaff;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 3%;
}

.nav_link{
    list-style: none;
}
.nav_link li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_link a{
    transition: all 0.3s ease 0s;
}
.nav_link a:hover{
    color: #00b4d8;
}
.card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
    }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 }

.title{
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: #fffaff;
    font-family: "Quicksand", sans-serif;
 }

h1{
  font-size: 20px;
  color: #fffaff;
  font-family: "Montserrat", sans-serif;
 }

.des{
  padding: 3px;
  text-align: center;
  color: #fffaff;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
  font-family: "Montserrat", sans-serif;
}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}
.main{

 margin: 2%;
}